openapi: 3.1.0
info:
  title: Aura Karatê — API Fase 5 (Conectividade Dojô) — Track F · FUNDAÇÃO
  version: "0.5.1"
  description: >
    Fundação da conectividade Federação ↔ Dojô (2 vias). Migrations 170 + 171.
    Esqueleto: estado de conexão + handshake/aprovação + token de sync + log de
    eventos + webhook stub (Via 1). A aplicação real do payload de sync chega depois.

    VIAS (revisado 09/06 — adaptador removido): native (Via 1, Aura Karatê Dojô)
    e manual (Via 2, sem sistema — gerido pela FPKT). O dojô nunca usa outra
    vertical além do Aura Karatê, então a antiga Via 2/adaptador deixou de existir.
    SEGURANÇA: federation_sync_token só aparece em claro 1x (approve/rotate);
    persistimos hash sha256 + prefixo. Webhook autentica por hash (timing-safe).
servers:
  - url: https://api.getaura.com.br
  - url: http://localhost:3000
paths:
  /federation/{id}/connections:
    get:
      summary: Lista conexões (filtros via, status) + counts. RBAC read
      security: [{ bearerAuth: [] }]
      responses: { '200': { description: '{counts, data[]}' } }
    post:
      summary: 'Inicia conexão (via native|manual). manual nasce connected; native pending. RBAC staffWrite'
      security: [{ bearerAuth: [] }]
      responses: { '201': { description: criada }, '404': { description: dojô não encontrado }, '422': { description: validação } }
  /federation/{id}/connections/requests:
    get:
      summary: Inbox de solicitações pendentes. RBAC read
      security: [{ bearerAuth: [] }]
      responses: { '200': { description: ok } }
  /federation/{id}/connections/{connId}:
    get:
      summary: Detalhe + 10 eventos recentes. RBAC read
      security: [{ bearerAuth: [] }]
      responses: { '200': { description: ok }, '404': { description: não encontrada } }
    patch:
      summary: Edita notes/via. RBAC staffWrite
      security: [{ bearerAuth: [] }]
      responses: { '200': { description: ok }, '404': { description: não encontrada } }
  /federation/{id}/connections/{connId}/approve:
    post:
      summary: 'Aprova handshake → connected. native gera sync_token (CLARO 1x). RBAC adminOnly'
      security: [{ bearerAuth: [] }]
      responses: { '200': { description: 'ok (+ sync_token p/ native; null p/ manual)' }, '409': { description: já ativa } }
  /federation/{id}/connections/{connId}/reject:
    post:
      summary: Recusa/revoga. RBAC adminOnly
      security: [{ bearerAuth: [] }]
      responses: { '200': { description: revoked }, '404': { description: não encontrada } }
  /federation/{id}/connections/{connId}/rotate-token:
    post:
      summary: 'Rotaciona o sync_token (native). RBAC adminOnly'
      security: [{ bearerAuth: [] }]
      responses: { '200': { description: 'ok (+ sync_token)' }, '409': { description: 'via manual não usa token' } }
  /federation/{id}/connections/{connId}/events:
    get:
      summary: Log de eventos (paginado). RBAC read
      security: [{ bearerAuth: [] }]
      responses: { '200': { description: '{page, page_size, total, data[]}' } }
  /federation/{id}/connections/{connId}/events/{eventId}/reprocess:
    post:
      summary: 'Marca evento em falha como reprocessado (stub). RBAC staffWrite'
      security: [{ bearerAuth: [] }]
      responses: { '200': { description: reprocessed }, '409': { description: não está em falha } }
  /webhooks/karate-sync/{connId}:
    post:
      summary: 'Webhook de sync do dojô (Via 1). Autentica por X-Sync-Token (hash). Registra evento (pending).'
      responses:
        '202': { description: 'aceito {ok, event_id}' }
        '401': { description: token inválido }
        '403': { description: conexão inativa }
        '404': { description: conexão não encontrada }
        '422': { description: event_type inválido }
components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }
# Connection{ id, federation_id, dojo_id, dojo_name, fpkt_affiliation_id,
#   via[native|manual], status[pending|connected|suspended|revoked|error],
#   sync_token_masked, token_rotated_at, connected_at, last_sync_at, last_sync_status, notes }
# SyncEvent{ id, direction[dojo_to_fed|fed_to_dojo], event_type, status[ok|failed|reprocessed|pending], error, created_at }
