openapi: 3.1.0
info:
  title: Aura Karatê — API Fase 3 (Carteirinha Digital + Portal do Praticante)
  version: "0.3.3"
  description: >
    Contrato congelado da Wave 0 da Fase 3 (Track D). Backend e Frontend
    trabalham em paralelo contra este contrato. Migrations 164 + 165 + 166.
    NOTA: a migration 163 foi consumida por 163_credit_phase1_version_schema;
    a numeração karatê seguiu para 164/165/166.

    DECISÕES (pós-aprovação dos mocks DESIGN-14/15/16/17):
      1) Carteirinha é DATA-ONLY: o app NÃO gera imagem/PDF. As rotas processam
         o pedido e devolvem os DADOS; a arte (frente/verso, QR) é renderizada
         na camada de design/frontend (DESIGN-14, APROVADO). QR aponta para
         /karate/verify/<verify_token>.
      1b) Carteirinha SEM validade por tempo: o cartão não expira. A VERIFICAÇÃO
          pública, porém, reflete a situação do registro: status=valida|vencida|
          revogada, onde 'vencida' = anuidade CPF em atraso (validade=due_date).
      2) Privacidade (§0.4 U1): portal completo AUTENTICADO por OTP → JWT
         type:'portal' (30 min). Verify público com dados MÍNIMOS; menores com
         nome reduzido + foto oculta (registro permanece visível). Portal público
         compartilhável só com opt-in; MENORES nunca.
      3) Anti-enumeração (U2): request-otp SEMPRE genérico; verify-otp valida por
         (federação, cpf, código).
      4) Inscrição pública: exames e cursos reais (lookup por CPF + PIX);
         COMPETIÇÕES são stub 501 (inscrição feita pela academia junto à federação).
      5) SEM "faixa pretendida" na inscrição (Caio 08/06): o praticante não escolhe
         a graduação; a federação/banca define depois. target_belt opcional (mig. 166).
servers:
  - url: https://api.getaura.com.br
  - url: http://localhost:3000
paths:
  # ── Admin (autenticado, RBAC de federação) ──────────────────
  /federation/{federationId}/practitioners/{practitionerId}/issue-card:
    post:
      summary: 'Emite/renova carteirinha (somente dados; renovar expira a anterior). RBAC staffWrite'
      security: [{ bearerAuth: [] }]
      responses: { '201': { description: 'emitida (dados + verify_token + warnings; inclui birth_date+cpf p/ a arte)' }, '404': { description: praticante não encontrado } }
  /federation/{federationId}/practitioners/{practitionerId}/card:
    get:
      summary: Carteirinha atual do praticante (interno; inclui birth_date+cpf). RBAC read
      security: [{ bearerAuth: [] }]
      responses: { '200': { description: ok }, '404': { description: sem carteirinha } }
  /federation/{federationId}/cards:
    get:
      summary: Lista carteirinhas (filtro status, paginado). RBAC read
      security: [{ bearerAuth: [] }]
      responses: { '200': { description: ok } }
  /federation/{federationId}/cards/issue-batch:
    post:
      summary: 'Emite/renova em lote (only_missing=true por padrão). RBAC adminOnly'
      security: [{ bearerAuth: [] }]
      responses: { '201': { description: 'resumo {eligible, issued, errors[]}' } }

  # ── Público (sem auth de empresa) — /public/karate ──────────
  /public/karate/verify/{token}:
    get:
      summary: 'Verificação pública da carteirinha (DADOS MÍNIMOS / LGPD; menores: nome reduzido + foto oculta, registro permanece)'
      responses: { '200': { description: 'status=valida|vencida|revogada (vencida=anuidade CPF em atraso; validade=due_date); display_name, belt, belt_name, belt_since, dojo_name' }, '404': { description: não encontrada } }
  /public/karate/portal/me:
    get:
      summary: 'Portal AUTENTICADO do praticante (trajetória, exames, certificados, carteirinha)'
      security: [{ portalToken: [] }]
      responses: { '200': { description: ok }, '401': { description: token de portal ausente/inválido } }
  /public/karate/portal/opt-in:
    post:
      summary: 'Liga/desliga portal público compartilhável (menores bloqueados). Autenticado'
      security: [{ portalToken: [] }]
      responses: { '200': { description: 'ok (public_token quando ligado)' }, '403': { description: menor bloqueado } }
  /public/karate/{slug}/portal/request-otp:
    post:
      summary: 'Solicita OTP por CPF (resposta SEMPRE genérica — anti-enumeração)'
      responses: { '200': { description: 'genérico {ok, message, channel_hint?}' } }
  /public/karate/{slug}/portal/verify-otp:
    post:
      summary: 'Valida OTP (federação+cpf+código) → token de portal'
      responses: { '200': { description: 'ok {token, expires_in, practitioner}' }, '401': { description: inválido/expirado } }
  /public/karate/{slug}/p/{publicToken}:
    get:
      summary: 'Portal público compartilhável (reduzido; só com opt-in; nunca menores)'
      responses: { '200': { description: ok }, '404': { description: indisponível } }
  /public/karate/{slug}/events:
    get:
      summary: 'Agenda pública (exames + cursos abertos). Competições entram com Track E'
      responses: { '200': { description: 'ok {federation, events[]}' } }
  /public/karate/{slug}/inscricao/{eventId}:
    get:
      summary: 'Dados do evento para inscrição (exame/curso) + capacity{max,filled} (vagas). Competição → 404 (Track E)'
      responses: { '200': { description: ok }, '404': { description: não encontrado }, '409': { description: encerradas } }
    post:
      summary: 'Submete inscrição: lookup por CPF + PIX (exame/curso reais; SEM faixa pretendida). Competição → 501 stub'
      responses:
        '201': { description: 'inscrição registrada (+ payment PIX quando há taxa)' }
        '404': { description: praticante não localizado }
        '409': { description: 'já inscrito / encerradas' }
        '501': { description: 'competição ainda não suportada (Track E)' }
  /public/karate/{slug}/inscricao/{eventId}/lookup:
    post:
      summary: 'Localiza praticante por CPF (passo cpf→confirma): retorna faixa atual + already_enrolled, SEM efetivar'
      responses: { '200': { description: 'found, already_enrolled, practitioner{current_belt, current_belt_name}' }, '404': { description: 'praticante não localizado' }, '409': { description: encerradas }, '501': { description: 'competição (Track E)' } }
components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }
    portalToken: { type: http, scheme: bearer, bearerFormat: 'JWT (type=portal)' }
# Schemas: MembershipCard{ card_number, belt, belt_name, dojo_name, photo_url,
#   is_minor, verify_token, status[active|revoked], birth_date?, cpf? (autenticado) }
# VerifyResult{ valid, status[valida|vencida|revogada], validade?, display_name,
#   belt, belt_name, belt_since, dojo_name, federation_name, federation_logo,
#   is_minor, card_number }  // SEM CPF/nascimento; menor → display_name reduzido
# PortalMe{ practitioner, belt_history[], exams[], certificates[], card, public_portal }
